<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <comment>
                    <header>
                        <h2>Comment Details</h2>
                    </header>

                    <p th:text="${comment.content}"></p>

                    <a th:href="@{user/details/{id}(id=${comment.author.id})}"
                       th:text="${comment.author.email}"
                       class="author" ></a>

                    <footer>

                        <div class="pull-right">

                            <th:block sec:authorize="isAuthenticated()">
                                <a class="btn btn-success btn-xs" th:href="@{/comment/edit/{id}(id = ${comment.id})}">Edit</a>
                                <a class="btn btn-danger btn-xs" th:href="@{/comment/delete/{id}(id = ${comment.id})}">Delete</a>
                            </th:block>
                            <a class="btn btn-default btn-xs" th:href="@{/article/details/{id}(id=${comment.article.id})}">back &laquo;</a>
                        </div>
                    </footer>
                </comment>
            </div>
        </div>
    </div>
</main>